<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="LoginTest">
    <classes>
      <class name="test.LoginTest"/>
    </classes>
  </test>  
    <test name="DashTest">
    <classes>
      <class name="test.DashboardTest"/>
    </classes>
  </test> 
    <test name="LogTest">
    <classes>
      <class name="test.LogoutTest"/>
    </classes>
  </test>
    <test name="searchtest">
    <classes>
      <class name="test.SearchTest"/>
    </classes>
  </test>
    <test name="multitest">
    <classes>
      <class name="test.MultipleSelectionTest"/>
    </classes>
  </test>
      <test name="terminate">
    <classes>
      <class name="test.TerminateTest"/>
    </classes>
  </test>
</suite> 
